@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>URLs</h2>


<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("UrlTitle", "Index", new { SortOrder = ViewBag.sortOrder == null ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Title", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Url", "Index", new { SortOrder = ViewBag.sortOrder == null ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Url", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("urlDesc", "Index", new { SortOrder = ViewBag.sortOrder == null ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "urlDesc", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { SortOrder = ViewBag.sortOrder == null ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Name", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a target="_blank" href="@item.url">@item.url</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.urlDesc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tbl_Category.Name)
                </td>


            </tr>
        }
    </tbody>

</table>

@*@{
    double Totalpages = ViewBag.TotalPages;
}
    @for (int i = 1; i < Totalpages; i++)
    {
        if (i == ViewBag.Page)
        {
            <b>@Html.ActionLink(i.ToString() + " ", "Index", new { sortOrder = (ViewBag.sortOrder == null ? "Asc" : ViewBag.sortOrder), sortBy = (ViewBag.sortBy == null ? "Title" : ViewBag.sortBy), Page = i })</b>
        }
        else
        {
            @Html.ActionLink(i.ToString() + " ", "Index", new { sortOrder = (ViewBag.sortOrder == null ? "Asc" : ViewBag.sortOrder), sortBy = (ViewBag.sortBy == null ? "Title" : ViewBag.sortBy), Page = i })
        }

    }*@



